
    <main>
        {{#if hasProducts}}
            <div class='grid'>
                <h1>Shop Great Book</h1>
                {{#each prods}}
                    <div>
                        <h1>{{this.title}}</h1>
                        <p>content here</p>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <h1>Shop Page</h1>
        {{/if}}
    </main> 
