<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{docTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{#if hasProducts}}
            <div class='grid'>
                <h1>Shop Great Book</h1>
                {{#each prods}}
                    <div>
                        <h1>{{this.title}}</h1>
                        <p>content here</p>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <h1>Nothing</h1>
        {{/if}}
    </main> 
</body>

</html>